<% @news.each do |news| %>
    <b><%= news.title %></b>
    
    <%= news.description %>
    
    <a href="<%= news.link %>" target="_blank" rel="noopener">Ver Mais no Site</a>
    
    Data de atualização: <%= news.created_at %>
 
<% end %>